.vertical-spacing {
  height: var(--v-spacing-m);
  margin: 0 var(--base-padding);

  &.--size-s {
    height: var(--v-spacing-s);
  }

  &.--size-m {
    height: var(--v-spacing-m);
  }

  &.--size-l {
    height: var(--v-spacing-l);
  }

  &.--full-width {
    margin: 0;
  }

  &.--separator {
    border-top: solid 1px currentcolor;
  }
}
