# ignore everything in the "wp-content" directory (repo root), except:
# "mu-plugins", "plugins", "themes" directory
/*
!mu-plugins/
!plugins/
!themes/
!.nvmrc

# Keep repo config files
!.gitignore
!README.md
!.github/
!docker-compose.yml
!.dockerignore
!Makefile
!bin
!conf

# ignore these plugins
plugins/hello.php

# ignore specific themes
themes/twenty*/

# ignore node dependency directories
node_modules/

# ignore log files and databases
*.log
*.sql
*.sqlite

# developer config
.vscode
.env

# Modified WPEngine recommended .gitignore starter from https://wpengine.com/wp-contentuploads/2020/02/recommended-gitignore-no-wp.txt
*~
.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db
# wordpress specific
wp-config.php
uploads/
blogs.dir/
upgrade/*
backup-db/*
advanced-cache.php
wp-cache-config.php
cache/*
cache/supercache/*

# wpengine specific
.smushit-status
.gitattributes
_wpeprivate*
object-cache.php
mu-plugins/mu-plugin.php
mu-plugins/slt-force-strong-passwords.php
mu-plugins/stop-long-comments.php
mu-plugins/force-strong-passwords*
mu-plugins/wpengine-common*
mu-plugins/wpengine-security-auditor.php
mu-plugins/wpe-wp-sign-on-plugin*

# wp core (as of 4.9.5)
/db-config.php
/index.php
/license.txt
/readme.html
/wp-activate.php
/wp-app.php
/wp-atom.php
/wp-blog-header.php
/wp-comments-post.php
/wp-commentsrss2.php
/wp-config-sample.php
/wp-cron.php
/wp-feed.php
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-rdf.php
/wp-rss.php
/wp-rss2.php
/wp-pass.php
/wp-register.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php
/wp-admin
/wp-includes
/index.php
/themes/twentyten
/themes/twentyeleven
/themes/twentytwelve
/themes/twentythirteen
/themes/twentyfourteen
/themes/twentyfifteen
/themes/twentysixteen
/themes/twentyseventeen
/themes/twentyeighteen
/themes/twentynineteen
/themes/twentytwenty
/themes/index.php
/plugins/index.php
/plugins/akismet*

# large/disallowed file types
# a CDN should be used for these
*.hqx
*.bin
*.exe
*.dll
*.deb
*.dmg
*.iso
*.img
*.msi
*.msp
*.msm
*.mid
*.midi
*.kar
*.mp3
*.ogg
*.m4a
*.ra
*.3gpp
*.3gp
*.mp4
*.mpeg
*.mpg
*.mov
*.webm
*.flv
*.m4v
*.mng
*.asx
*.asf
*.wmv
*.avi

/themes/ss-wordpress-starter/dist
