/* opacity hex values */
$hex-40: 66;
$hex-50: 80;
$hex-60: 99;

/* color vars */
$color-black: #000;
$color-white: #fff;
$color-offblack: #160606;
$color-offwhite: #e1dac6;
$color-offwhite-opaque: #{$color-offwhite}#{$hex-40};
$color-blue: #2d4087;
$color-green: #4d6932;
$color-maroon: #340808;
$color-olive: #827146;
$color-orange: #c9621d;
$color-pink: #bf485e;
$color-purple: #501e63;
$color-yellow: #ddac2e;
