$abc-social-light: "ABC Social Light";
$abc-social-regular: "ABC Social Regular";
$abc-social-condensed-book: "ABC Social Condensed Book";
$abc-social-bold: "ABC Social Bold";
$abc-social-mono-light: "ABC Social Mono Light";
$abc-social-mono-regular: "ABC Social Mono Regular";
$abc-social-mono-bold: "ABC Social Mono Bold";
$clearface-light: "Clearface Light";
$clearface-regular: "Clearface Regular";
$clearface-bold: "Clearface Bold";
$font-path: "/assets/fonts/";

@mixin font-face($name, $path, $weight, $style: normal) {
  @font-face {
    font-display: swap;
    font-family: "#{$name}";
    font-style: $style;
    font-weight: $weight;
    src: url("#{$path}.woff2") format("woff2");
    src: url("#{$path}.woff") format("woff"),
      url("#{$path}.otf") format("opentype");
  }
}

/* ABC Social  */
@include font-face(
  $abc-social-light,
  $font-path + "ABCSocial-Light-Trial",
  400
);
@include font-face(
  $abc-social-regular,
  $font-path + "ABCSocial-Regular-Trial",
  400
);
@include font-face($abc-social-bold, $font-path + "ABCSocial-Bold-Trial", 400);

/* ABC Social Condensed  */
@include font-face(
  $abc-social-condensed-book,
  $font-path + "ABCSocial-Condensed-Book-Trial",
  400
);

/* ABC Social Mono */
@include font-face(
  $abc-social-mono-light,
  $font-path + "ABCSocialMono-Light-Trial",
  400
);
@include font-face(
  $abc-social-mono-regular,
  $font-path + "ABCSocialMono-Regular-Trial",
  400
);
@include font-face(
  $abc-social-mono-bold,
  $font-path + "ABCSocialMono-Bold-Trial",
  400
);

/* Clearface */
@include font-face($clearface-regular, $font-path + "clearface-regular", 400);
@include font-face($clearface-bold, $font-path + "clearface-bold", 600);

/* Test Classes - To Be Deleted */
.font-abc-social {
  &-light {
    font-family: $abc-social-light;
  }

  &-regular {
    font-family: $abc-social-regular;
  }

  &-bold {
    font-family: $abc-social-bold;
  }

  &-condensed-book {
    font-family: $abc-social-condensed-book;
  }
}

.font-abc-social-mono {
  &-light {
    font-family: $abc-social-mono-light;
  }

  &-regular {
    font-family: $abc-social-mono-regular;
  }

  &-bold {
    font-family: $abc-social-mono-bold;
  }
}

.font-clearface {
  &-regular {
    font-family: $clearface-regular;
  }

  &-bold {
    font-family: $clearface-bold;
  }
}
