// Responsive function to strip unit
@function strip-unit($number) {
  @if type-of($number) == "number" and not unitless($number) {
    $unit: $number * 0 + 1;

    @return calc($number / $unit);
  }

  @return $number;
}

// Responsive mixin that interpolates size between min and max
@mixin responsive-value($min-value, $max-value, $property) {
  $min-media-size: $breakpoint-sm-max-width;
  $max-media-size: $breakpoint-lg-max-width;

  // Set the min size
  #{$property}: $min-value;

  // Set the responsive size
  @include breakpoint(md) {
    #{$property}: calc(
      #{$min-value} + #{strip-unit($max-value - $min-value)} *
        (
          (100vw - #{$min-media-size}) / #{strip-unit(
              $max-media-size - $min-media-size
            )}
        )
    );
  }

  // Set the max size
  @include breakpoint(xl) {
    #{$property}: $max-value;
  }
}

// -----------------------------
// Media query feature detection
// -----------------------------

// Sets styles for when motion is enabled
@mixin with-motion {
  @at-root html:not(.reduced-motion) & {
    @content;
  }
}

// Override settings for users who've requested OS-level high contrast interfaces
@mixin high-contrast {
  @at-root html.increased-contrast & {
    @content;
  }
}

// Sets styles for when the viewport is wider than the given aspect ratio
@mixin wider-than-ratio($ratio) {
  $query: "min-aspect-ratio: #{$ratio}";

  @media ($query) {
    @content;
  }
}

// Sets styles for when the viewport is narrower than the given aspect ratio
@mixin narrower-than-ratio($ratio) {
  $query: "max-aspect-ratio: #{$ratio}";

  @media ($query) {
    @content;
  }
}

// Fixes an issue when animating inside an element with a border radius
@mixin safari-radius-fix {
  mask-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC"); /* this fixes overflow: hidden; in Safari */
}

@mixin non-retina {
  /* stylelint-disable */
  @media (max-resolution: 1dppx),
    (max-device-pixel-ratio: 1),
    (max--moz-device-pixel-ratio: 1) {
    @content;
  }
  /* stylelint-enable */
}

@mixin background-blur($amount) {
  @supports (backdrop-filter: blur(1px)) {
    backdrop-filter: blur($amount);
  }

  @include high-contrast {
    backdrop-filter: none;
  }
}
