:root {
  --base-padding: 20px;
  --v-spacing-s: 36px;
  --v-spacing-m: 48px;
  --v-spacing-l: 64px;

  @media screen and #{$breakpoint-md} {
    --base-padding: 40px;
    --v-spacing-s: 48px;
    --v-spacing-m: 64px;
    --v-spacing-l: 80px;
  }
}
